  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
  }
  
  #root,
  .todo-list-app {
    display: flex;
    flex-flow: column nowrap;
  }
  
  #root {
    align-items: center;
    width: 100%;
  }
  
  .todo-list-app {
    padding-top: 32px;
    width: 480px;
    max-width: 80%;
  }

  .todo-list-title {
    font-family: sans-serif;
    text-align: center;
  }
  
  .todo-form input,
  .todo-item {
    border: 1px solid #ececec;
  }
  
  .todo-form input {
    padding: 0 14px;
    width: 100%;
    height: 42px;
    transition: .5s border ease;
  }
  
  .todo-form input:focus {
    outline: 0;
    border: 1px solid #2ba1d8;
  }
  
  .todo-list ul {
    padding: 0;
    margin: 0;
  }
  
  .todo-list li {
    list-style-type: none;
  }
  
  .todo-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 12px;
    border-top: 0;
  }
  
  .todo-item-input-wrapper {
    flex-grow: 1;
    padding: 0 16px;
  }
  
  .todo-item input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: .5s border-bottom ease;
  }
  
  .todo-item input:focus {
    outline: 0;
    border-bottom: 1px solid #2ba1d8;
  }
  
  .todo-item .todo-input-error {
    border-bottom: 1px solid #e23434;
  }
  
  .todo-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ececec;
    transition: .3s all ease-in-out;
  }
  
  .todo-item-unchecked:hover {
    background: hsla(168, 76%, 42%, .25);
    border: 1px solid hsl(168, 76%, 42%, .25);
  }
  
  .todo-item-checked {
    color: #fff;
    background: #1abc9c;
    border: 1px solid #1abc9c;
  }
  
  .item-remove {
    display: flex;
    padding: 0 6px;
    font-size: 28px;
    cursor: pointer;
    color: #ececec;
    transition: .3s color ease-in-out;
  }
  
  .item-remove:hover {
    color: rgb(146, 6, 13);
  }